tools/binarydump-tool/build
app_grayscale_C/build
app_grayscale_C/grayscale*
app_grayscale_C/iwasm
app_grayscale_Rust/grayscale/target
app_grayscale_Rust/grayscale/grayscale*
app_grayscale_Rust/grayscale/iwasm
app_helloworld_Rust/grayscale/target
app_helloworld_Rust/grayscale/grayscale*
app_helloworld_Rust/grayscale/iwasm
ESP32C6_WAMR/wasm-micro-runtime
ESP32C6_WAMR/build
ESP32C6_WAMR/.devcontainer
ESP32C6_WAMR/.vscode